#launcher p{display:none;}
#web{height:95px;width:51px;position:absolute;left:5px;top:0;}
#navi{height:95px;width:51px;position:absolute;left:61px;top:0;}
#calendar{height:95px;width:51px;position:absolute;left:117px;top:0;}
#box{height:95px;width:52px;position:absolute;left:173px;top:0;}