#launcher p{display:none;}
#web{height:95px;width:73px;position:absolute;left:5px;top:0;}
#navi{height:95px;width:72px;position:absolute;left:83px;top:0;}
#calendar{height:95px;width:72px;position:absolute;left:160px;top:0;}
#box{height:95px;width:73px;position:absolute;left:237px;top:0;}