#launcher p{display:none;}
#web{height:110px;width:110px;position:absolute;left:5px;top:0;}
#navi{height:110px;width:110px;position:absolute;left:120px;top:0;}
#calendar{height:110px;width:110px;position:absolute;left:235px;top:0;}
#box{height:110px;width:110px;position:absolute;left:340px;top:0;}